/* Reset básico */
body, h1, h2, h3, p, ul, li, table, th, td, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

input, select, button {
    font-family: inherit;
    font-size: 16px;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #8db8e760;
    color: #333;

    padding: 10px 20px;
    text-align: left;
    border-radius: 5px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
    padding: 20px 20px;
    margin: 0;
    text-align: left;
}

/* Estilo dos logos */
.logo {
    height: 100px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo das seções */
main {
    margin-top: 20px;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #8db8e760;
    color: #333;
}

/* Estilo das tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

table th {
    background-color: #8db8e760;
    color: #333;
    font-weight: bold;
    padding: 10px;
    max-width: 200px; /* Ajuste para evitar largura total */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura */
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tfoot {
    background-color: #f1f1f1;
    font-weight: bold;
}

table tfoot td {
    border-top: 2px solid #8db8e760;
    color: #333;
    padding: 10px;
    text-align: left;
}

table td {
    max-width: 200px; /* Ajuste para evitar largura total */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura */
    text-overflow: ellipsis; /* Adiciona reticências (...) ao final do texto longo */
    white-space: nowrap; /* Impede a quebra de linha */
}


/* Estilo dos formulários */
form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form button:hover {
    background-color: #8db8e760;
    color: #333;
}


.hidden {
    display: none;
}

.larger-button {
    margin: 0px auto;
    padding: 8px 4px;
    font-size: 16px;
    background-color: #8db8e760;
    color: #333;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 80%;
}
.larger-button:hover {
    background-color: #0056b3;
    border-color: #012b58;
}

.form-group {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}  

form label {
    font-size: 14px;
    font-weight: bold;
    width: 200px; /* Largura fixa para os rótulos */
    text-align: right; /* Alinhamento à direita */
}
/* Harmonização dos botões e caixas de seleção */
button, select, input {
    gap: 10px;
    border: 1px solid #8db8e760;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    max-width: 200px; /* Ajuste para evitar largura total */
    margin: 5px;
}

button:hover, select:hover {
    border-color: #0056b3;
}

button:focus, select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#filter-hours select, #filter-hours button {
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    width: auto; /* Ajuste para evitar largura total */
}

#data-management button, #data-management select {
    width: auto; /* Ajuste para evitar largura total */
    margin: 5px;
}

/* Estilo do botão do menu sanduíche */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Estilo do menu */
nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav.menu ul li a {
    text-decoration: none;

    font-weight: bold;
}

/* Estilos para a seção de registro de ponto diário */
#daily-attendance {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    display: flex;
}

#daily-attendance h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

#daily-attendance .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

#daily-attendance .form-group {
    display: flex;
    flex-direction: column;
}

#daily-attendance label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

#daily-attendance input[type="date"],
#daily-attendance input[type="time"],
#daily-attendance select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
}

#daily-attendance .time-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    border: solid 1px #ddd;
}

/* Estilo para botões primários */
.primary-button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #0056b3;
}

/* Estilos para a seção de histórico de ponto */
#attendance-history {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Estilos para o container dos filtros */
.filters-container {
    display: flex;
    gap: 20px; /* Espaçamento entre os filtros */
    align-items: center; /* Alinha verticalmente os itens */
    margin-bottom: 20px; /* Espaçamento abaixo dos filtros */
}

/* Estilos para os grupos de filtros */
.filter-group {
    display: flex;
    flex-direction: column;
}

.filter-group label {
    margin-bottom: 5px;
}

/* Estilos para o botão de filtro */
#filter-date-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filter-date-button:hover {
    background-color: #0056b3;
}

/* Estilos para o container das ações (botões Editar e Remover) */
.actions-container {
    display: flex;
    gap: 5px; /* Espaçamento entre os botões */
    justify-content: center; /* Alinha os botões horizontalmente */
}

/* Estilos para os botões de editar e remover */
.edit-button,
.remove-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.edit-button {
    background-color: #007bff;
    color: white;
}

.remove-button {
    background-color: #dc3545;
    color: white;
}